*
{
    margin: 0;
    padding: 0;
}
 
header
{
    width: 100%;
    height: 60px;
    display: flex;
    background-color: rgb(72, 72, 255);    
}

.logo
{
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}

.dropdown 
{
    width: 87%;
}

.dropdown dl
{
    display: flex;
    float: right;
}

.dropdown dl dt
{
    margin-top: 16px;
}

.dropdown dl dt a
{
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 30px;
}

.dropdown dl dl
{
    display: none;
}

.dropdown dl dt:hover > dl
{
    display: block;
    position: absolute;
    background-color: rgb(72, 72, 255);
    margin-top: 24px;
}

.dropdown dl dl dd
{
    width: 144px;
    height: 35px;
    margin-top: 0px;
    border: solid 1px white ;
}

#bt:hover
{
    background-color: rgb(36, 36, 85);
    height: 30px;
}

.dropdown dl dl dl
{
    display: none;
}

.dropdown dl dl dd:hover > dl
{
    display: block;
    position: absolute;
    background-color: rgb(72, 72, 255);
    margin-left: 99%;
    margin-top: -21px;
}

#bt-2:hover
{
    background-color: rgb(36, 36, 85);
}
button
{
    margin-top: 13px;
    width: 80px;
    height: 30px;
}
